<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>MBA Search Dashboard</title>
    <% include ../partial/headerlink %>
  </head>
  <body>
    <% include ../partial/login-header %>
    <!--====================================================================Container Section==========================================================================-->
    <div class="page-header" style="background: url(img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Dashbord</h2>
                        <ol class="breadcrumb">
                            <li><a href="javascript:void(0);">Home /</a></li>
                            <li class="current">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>         
    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                    <% include ../partial/aside %>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="page-content">
                        <div class="inner-box">
                            <div class="dashboard-box">
                                <h2 class="dashbord-title">Dashboard</h2>
                            </div>
                            <div class="dashboard-wrapper">
                                <div class="dashboard-sections">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                            <div class="dashboardbox">
                                                <div class="icon"><i class="lni-write"></i></div>
                                                    <div class="contentbox">
                                                        <h2><a href="#">Total Ad Posted</a></h2>
                                                        <h3>480 Add Posted</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                        <div class="dashboardbox">
                                            <div class="icon"><i class="lni-add-files"></i></div>
                                                <div class="contentbox">
                                                    <h2><a href="#">Featured Ads</a></h2>
                                                    <h3>80 Add Posted</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                            <div class="dashboardbox">
                                                <div class="icon"><i class="lni-support"></i></div>
                                                    <div class="contentbox">
                                                        <h2><a href="#">Offers / Messages</a></h2>
                                                        <h3>2040 Messages</h3>
                                                    </div>
                                                </div>                      
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-responsive dashboardtable tablemyads">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="checkedall">
                                                        <label class="custom-control-label" for="checkedall"></label>
                                                    </div>
                                                </th>
                                                <th>Photo</th>
                                                <th>Title</th>
                                                <th>Category</th>
                                                
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%posts.forEach(e=>{%>
                                                <tr data-category="active">
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="adone">
                                                            <label class="custom-control-label" for="adone"></label>
                                                        </div>
                                                    </td>
                                                    <td class="photo"><img class="img-fluid" src="uploads/<%=e.images[0].filename;%>" alt=""></td>
                                                    <td data-title="Title">
                                                        <h3><%=e.btitle;%></h3>
                                                        
                                                        <span><%=(e.description) ? desc.substr(0,10) : "" ;%></span>
                                                    </td>
                                                    <td data-title="Category"><span class="adcategories">Laptops & PCs</span></td>
                                                
                                                    <td data-title="Price"><h3><%=e.price;%></h3></td>
                                                    <td data-title="Action">
                                                        <div class="btns-actions">
                                                            <a class="btn-action btn-view" href="#"><i class="lni-eye"></i></a>
                                                            <a class="btn-action btn-edit" href="#"><i class="lni-pencil"></i></a>
                                                            <a class="btn-action btn-delete" href="#"><i class="lni-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--====================================================================End Container Section==========================================================================-->

    <% include ../partial/footer %>
  </body>
</html>
