<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Post Ads</title>
    <% include ../partial/headerlink %>
  </head>
  <body>
    <% include ../partial/login-header %>
    <!--====================================================================Container Section==========================================================================-->
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Post your Listing</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Post your Listing</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                    <% include ../partial/aside %>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">                
                    <form class="" action="/" method="POST" enctype="multipart/form-data">
                        <div class="row page-content">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                <div class="inner-box">
                                    <div class="dashboard-box">
                                        <h2 class="dashbord-title">Business Listing Details </h2>                                
                                    </div>
                                    <div class="dashboard-wrapper">
                                        <div class="form-group mb-3">
                                            <label class="control-label">Bisiness Title</label>
                                            <input class="form-control input-md" name="title" placeholder="Title" type="text">
                                        </div>
                                        <div class="form-group mb-3 tg-inputwithicon">
                                            <label class="control-label">Categories</label>
                                            <div class="tg-select form-control">
                                                <select id="category-select">
                                                    <option value="none">Select Categories</option>
                                                    <% categories.forEach(e=>{ %>
                                                        <option value="<%=e._id;%>"><%=e.c_name;%></option>
                                                    <% }); %>                                                
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 tg-inputwithicon">
                                            <label class="control-label">Sub Categories</label>
                                            <div class="tg-select form-control">
                                                <select id="subcat-select">
                                                    <option value="none">Sub Categories</option>                                                                                             
                                                </select>
                                            </div>
                                        </div>
                                    

                                        <div class="form-group mb-3">
                                            <label class="control-label">Price </label>
                                            <input class="form-control input-md" name="price" placeholder="Price" type="text">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Business Address</label>
                                            <input class="form-control input-md" name="ddress" placeholder="Business Address" type="text">
                                        </div>
                                        <div class="form-group mb-3 tg-inputwithicon">
                                            <label class="control-label">Country</label>
                                            <div class="tg-select form-control">
                                                <select id="country-select">
                                                    <option value="none">Select Country</option>
                                                     <% countries.forEach(e=>{ %>
                                                        <option value="<%=e._id;%>"><%=e.country_name;%></option>
                                                    <% }); %>                                      
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group mb-3 tg-inputwithicon">
                                            <label class="control-label">State</label>
                                            <div class="tg-select form-control">
                                                <select id="state-select">
                                                    <option value="none">Select State</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 tg-inputwithicon">
                                            <label class="control-label">City</label>
                                            <div class="tg-select form-control">
                                                <select id="select-city">
                                                    <option value="none">Select City</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Business Email*</label>
                                            <input class="form-control input-md" name="phone" type="text">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Business Phone*</label>
                                            <input class="form-control input-md" name="phone" type="text">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="control-label">Website Link</label>
                                            <input class="form-control input-md" name="Website Link" type="text">
                                        </div>
                                        <div class="form-group md-3">
                                            <section id="editor">
                                                <div id="summernote"></div>
                                            </section>
                                        </div>
                                        <label class="tg-fileuploadlabel" for="tg-photogallery">
                                            <span class="btn btn-common">Select Files</span>
                                            <span>Maximum upload file size: 500 KB</span>
                                            <input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
                                        </label>
                                        <div class="tg-checkbox">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="tg-agreetermsandrules">
                                                <label class="custom-control-label" for="tg-agreetermsandrules">I agree to all <a href="javascript:void(0);">Terms of Use &amp; Posting Rules</a></label>
                                            </div>
                                        </div>
                                        <button class="btn btn-common" type="button">Post Ad</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                            <div class="inner-box">
                                <div class="tg-contactdetail">
                                    <div class="dashboard-box">
                                        <h2 class="dashbord-title">Advertisement</h2>
                                    </div>
                                    <div class="dashboard-wrapper">
                                        <div class="form-group mb-3">
                                            <div class="widget">
                                                <div class="add-box">
                                                    <img class="img-fluid" src="img/img1.jpg" alt="">
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="widget">
                                                <div class="add-box">
                                                    <img class="img-fluid" src="img/img1.jpg" alt="">
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <% include ../partial/footer %>
    <script src="js/post-ads.js"></script>
  </body>
</html>
