<aside>
    <div class="sidebar-box">
        <div class="user">
            <figure>
                <a href="#"><img src="<%=user.profilepic;%>" alt=""></a>
            </figure>
            <div class="usercontent">
                <h3>Hello <%=user.name;%></h3>
                <h4>Administrator</h4>
            </div>
        </div>
        <nav class="navdashboard">
            <ul>
                <li><a href="/user/dashboard"><i class="lni-dashboard"></i><span>Dashboard</span></a></li>
                <li><a href="/user/profile"><i class="lni-cog"></i><span>Profile Settings</span></a></li>
                <li><a href="javascript:void(0)"><i class="lni-layers"></i><span>My Ads</span></a></li>
                <li><a href="javascript:void(0)"><i class="lni-envelope"></i><span>Offers/Messages</span></a></li>
                <li><a href="javascript:void(0)"><i class="lni-wallet"></i><span>Payments</span></a></li>
                <li><a href="javascript:void(0)"><i class="lni-heart"></i><span>My Favourites</span></a></li>
                <li><a href="javascript:void(0)"><i class="lni-star"></i><span>Privacy Settings</span></a></li>
                <li><a href="/logout"><i class="lni-enter"></i><span>Logout</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="widget">
        <h4 class="widget-title">Advertisement</h4>
        <div class="add-box">
            <img class="img-fluid" src="img/img1.jpg" alt="">
        </div>
    </div>
</aside>