
    <header id="header-wrap">
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-5 col-xs-12">
              <ul class="list-inline">
                <li><i class="lni-phone"></i> +0123 456 789</li>
                <li><i class="lni-envelope"></i> support@gmail.com</li>
              </ul>
            </div>
            <div class="col-lg-5 col-md-7 col-xs-12">
              <div class="roof-social float-right">
                <a class="facebook" href="#"
                  ><i class="lni-facebook-filled"></i
                ></a>
                <a class="twitter" href="#"
                  ><i class="lni-twitter-filled"></i
                ></a>
                <a class="instagram" href="#"
                  ><i class="lni-instagram-filled"></i
                ></a>
                <a class="linkedin" href="#"
                  ><i class="lni-linkedin-fill"></i
                ></a>
                <a class="google" href="#"><i class="lni-google-plus"></i></a>
              </div>
              <div class="header-top-right float-right">
                <a href="/login" class="header-top-button"
                  ><i class="lni-lock"></i> Log In</a
                >
                |
                <a href="/register" class="header-top-button"
                  ><i class="lni-pencil"></i> Register</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
        <div class="container">
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#main-navbar"
              aria-controls="main-navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
            </button>
            <a href="/" class="navbar-brand"
              ><img src="img/MBA-search.png" alt="MBA SEARCH"
            /></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-center">
              <li class="nav-item active">
                <a class="nav-link"  href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories">Categories</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/listings">Listings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Contact</a>
              </li>
            </ul>
            <div class="post-btn">
              <a class="btn btn-common" href="post-ads"
                ><i class="lni-pencil-alt"></i> Post an Ad</a
              >
            </div>
          </div>
        </div>
        <ul class="mobile-menu">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/listings">Listings</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
      </nav>
      <div id="hero-area">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9 col-xs-12 text-center">
              <div class="contents">
                <h1 class="head-title">
                  Welcome to The Largest <span class="year">Marketplace</span>
                </h1>
                <p>
                  Buy and sell everything from used cars to mobile phones and
                  computers, or search for property, jobs and more
                </p>
                <div class="search-bar">
                  <div class="search-inner">
                    <form class="search-form">
                      <div class="form-group">
                        <input
                          type="text"
                          name="customword"
                          class="form-control"
                          placeholder="What are you looking for?"
                        />
                      </div>
                      <div class="form-group inputwithicon">
                        <div class="select">
                          <select>
                            <option value="none">Locations</option>
                            <option value="none">New York</option>
                            <option value="none">California</option>
                            <option value="none">Washington</option>
                            <option value="none">Birmingham</option>
                            <option value="none">Chicago</option>
                            <option value="none">Phoenix</option>
                          </select>
                        </div>
                        <i class="lni-target"></i>
                      </div>
                      <div class="form-group inputwithicon">
                        <div class="select">
                          <select>
                            <option value="none">Select Catagory</option>
                            <option value="none">Jobs</option>
                            <option value="none">Electronics</option>
                            <option value="none">Mobile</option>
                            <option value="none">Training</option>
                            <option value="none">Pets</option>
                            <option value="none">Real Estate</option>
                            <option value="none">Services</option>
                            <option value="none">Training</option>
                            <option value="none">Vehicles</option>
                          </select>
                        </div>
                        <i class="lni-menu"></i>
                      </div>
                      <button class="btn btn-common" type="button">
                        <i class="lni-search"></i> Search Now
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--==================================================================Header Section End===========================================================================-->
  </body>
</html>
